main/resources/ReposWSDEV.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cmaRepos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cmaRepos/" name="ReposWSDEV">
<types>
<xsd:schema>
<xsd:import namespace="http://cmaRepos/" schemaLocation="http://webforms.cm-abrantes.pt:8080/ReposGUIDEV/ReposWSDEV?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteFile">
<part name="parameters" element="tns:deleteFile"/>
</message>
<message name="deleteFileResponse">
<part name="parameters" element="tns:deleteFileResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="uploadDefaultFile">
<part name="parameters" element="tns:uploadDefaultFile"/>
</message>
<message name="uploadDefaultFileResponse">
<part name="parameters" element="tns:uploadDefaultFileResponse"/>
</message>
<message name="deleteRubric">
<part name="parameters" element="tns:deleteRubric"/>
</message>
<message name="deleteRubricResponse">
<part name="parameters" element="tns:deleteRubricResponse"/>
</message>
<message name="updateRubric">
<part name="parameters" element="tns:updateRubric"/>
</message>
<message name="updateRubricResponse">
<part name="parameters" element="tns:updateRubricResponse"/>
</message>
<message name="getRubric">
<part name="parameters" element="tns:getRubric"/>
</message>
<message name="getRubricResponse">
<part name="parameters" element="tns:getRubricResponse"/>
</message>
<message name="insertRubric">
<part name="parameters" element="tns:insertRubric"/>
</message>
<message name="insertRubricResponse">
<part name="parameters" element="tns:insertRubricResponse"/>
</message>
<message name="downloadFile">
<part name="parameters" element="tns:downloadFile"/>
</message>
<message name="downloadFileResponse">
<part name="parameters" element="tns:downloadFileResponse"/>
</message>
<message name="showLastXDocsByUser">
<part name="parameters" element="tns:showLastXDocsByUser"/>
</message>
<message name="showLastXDocsByUserResponse">
<part name="parameters" element="tns:showLastXDocsByUserResponse"/>
</message>
<message name="instanceRepos">
<part name="parameters" element="tns:instanceRepos"/>
</message>
<message name="instanceReposResponse">
<part name="parameters" element="tns:instanceReposResponse"/>
</message>
<message name="InvalidCredentialsException">
<part name="fault" element="tns:InvalidCredentialsException"/>
</message>
<message name="uploadFile">
<part name="parameters" element="tns:uploadFile"/>
</message>
<message name="uploadFileResponse">
<part name="parameters" element="tns:uploadFileResponse"/>
</message>
<message name="updateFile">
<part name="parameters" element="tns:updateFile"/>
</message>
<message name="updateFileResponse">
<part name="parameters" element="tns:updateFileResponse"/>
</message>
<portType name="ReposWSDEV">
<operation name="deleteFile">
<input wsam:Action="http://cmaRepos/ReposWSDEV/deleteFileRequest" message="tns:deleteFile"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/deleteFileResponse" message="tns:deleteFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://cmaRepos/ReposWSDEV/deleteFile/Fault/IOException"/>
</operation>
<operation name="uploadDefaultFile">
<input wsam:Action="http://cmaRepos/ReposWSDEV/uploadDefaultFileRequest" message="tns:uploadDefaultFile"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/uploadDefaultFileResponse" message="tns:uploadDefaultFileResponse"/>
</operation>
<operation name="deleteRubric">
<input wsam:Action="http://cmaRepos/ReposWSDEV/deleteRubricRequest" message="tns:deleteRubric"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/deleteRubricResponse" message="tns:deleteRubricResponse"/>
</operation>
<operation name="updateRubric">
<input wsam:Action="http://cmaRepos/ReposWSDEV/updateRubricRequest" message="tns:updateRubric"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/updateRubricResponse" message="tns:updateRubricResponse"/>
</operation>
<operation name="getRubric">
<input wsam:Action="http://cmaRepos/ReposWSDEV/getRubricRequest" message="tns:getRubric"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/getRubricResponse" message="tns:getRubricResponse"/>
</operation>
<operation name="insertRubric">
<input wsam:Action="http://cmaRepos/ReposWSDEV/insertRubricRequest" message="tns:insertRubric"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/insertRubricResponse" message="tns:insertRubricResponse"/>
</operation>
<operation name="downloadFile">
<input wsam:Action="http://cmaRepos/ReposWSDEV/downloadFileRequest" message="tns:downloadFile"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/downloadFileResponse" message="tns:downloadFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://cmaRepos/ReposWSDEV/downloadFile/Fault/IOException"/>
</operation>
<operation name="showLastXDocsByUser">
<input wsam:Action="http://cmaRepos/ReposWSDEV/showLastXDocsByUserRequest" message="tns:showLastXDocsByUser"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/showLastXDocsByUserResponse" message="tns:showLastXDocsByUserResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://cmaRepos/ReposWSDEV/showLastXDocsByUser/Fault/IOException"/>
</operation>
<operation name="instanceRepos">
<input wsam:Action="http://cmaRepos/ReposWSDEV/instanceReposRequest" message="tns:instanceRepos"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/instanceReposResponse" message="tns:instanceReposResponse"/>
<fault message="tns:InvalidCredentialsException" name="InvalidCredentialsException" wsam:Action="http://cmaRepos/ReposWSDEV/instanceRepos/Fault/InvalidCredentialsException"/>
</operation>
<operation name="uploadFile">
<input wsam:Action="http://cmaRepos/ReposWSDEV/uploadFileRequest" message="tns:uploadFile"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/uploadFileResponse" message="tns:uploadFileResponse"/>
</operation>
<operation name="updateFile">
<input wsam:Action="http://cmaRepos/ReposWSDEV/updateFileRequest" message="tns:updateFile"/>
<output wsam:Action="http://cmaRepos/ReposWSDEV/updateFileResponse" message="tns:updateFileResponse"/>
</operation>
</portType>
<binding name="ReposWSDEVPortBinding" type="tns:ReposWSDEV">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="uploadDefaultFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRubric">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRubric">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRubric">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertRubric">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downloadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="showLastXDocsByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="instanceRepos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidCredentialsException">
<soap:fault name="InvalidCredentialsException" use="literal"/>
</fault>
</operation>
<operation name="uploadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReposWSDEV">
<port name="ReposWSDEVPort" binding="tns:ReposWSDEVPortBinding">
<soap:address location="http://webforms.cm-abrantes.pt:8080/ReposGUIDEV/ReposWSDEV"/>
</port>
</service>
</definitions>